/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

/* @import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* @font-face {
    font-family: "Futura";
    src: local("FuturaPTBold");
    src: local("FuturaPTBoldOblique");
    src: local("FuturaPTBook");
    src: local("FuturaPTBookOblique");
    src: local("FuturaPTCondBold");
    src: local("FuturaPTCondBoldOblique");
    src: local("FuturaPTCondBook");
    src: local("FuturaPTCondBookOblique");
    src: local("FuturaPTCondExtraBold");
    src: local("FuturaPTCondExtraBoldOblique");
    src: local("FuturaPTCondMedium");
    src: local("FuturaPTCondMediumOblique");
    src: local("FuturaPTDemi");
    src: local("FuturaPTDemiOblique");
    src: local("FuturaPTExtraBold");
    src: local("FuturaPTExtraBoldOblique");
    src: local("FuturaPTHeavy");
    src: local("FuturaPTHeavyOblique");
    src: local("FuturaPTLight");
    src: local("FuturaPTLightOblique");
    src: local("FuturaPTMedium");
    src: local("FuturaPTMediumOblique");
} */

@font-face {
    font-family: "Montserrat-Medium";
    src: local("Montserrat-Medium.ttf"),
        url('../fonts/Montserrat-Medium.ttf');
}

/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

/* @import url(animate.min.css);
/* @import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css); */

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

/* * {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
} */

html {
    scroll-behavior: smooth;
}

body {
    min-width: 1000px;
    color: #ffffff;
    font-size: 15px;
    line-height: 1.80857;
    font-weight: normal;
    font-family: 'Montserrat-Medium', sans-serif;
    overflow-x: hidden;
}

a {
    color: #ffffff;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    font-family: 'Montserrat-Medium', sans-serif;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-family: 'Montserrat-Medium', sans-serif;
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #ffffff;
    margin: 0
  }

h1 {
    font-size: 40px;
    letter-spacing: 3px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 13px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #ffffff;
    text-decoration: none !important;
    opacity: 1;
    font-family: 'Montserrat-Medium', sans-serif;
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Montserrat-Medium', sans-serif;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: white;
}

a {
    color: #ffffff;
    text-decoration: none;
    outline: none !important;
    font-family: 'Montserrat-Medium', sans-serif;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.container_brightness {
    backdrop-filter: brightness(60%);
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.layout_padding {
    padding-top: 100px;
    padding-bottom: 50px;
}

.page {
    width: 100%;
    position: relative;
    /* height: 100vh; */
    overflow: hidden;
}

#bg_image {
    min-height: 500px;
    min-width: 1000px;
}

/* library section start */

/* .library_section {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.library_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
}

.library_text {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    color: #ffffff;
    padding-top: 40px;
    text-align: center;
}

.play_icon_main {
    width: 100%;
    margin-top: 150px;
    float: left;
}

.play_icon {
    width: 200px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.play_icon::before {
    content: '';
    position: absolute;
    top: 49%;
    left: 70px;
    width: 130px;
    height: 130px;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 100%;
    z-index: -1;
    animation: fadeEffect 1.3s infinite ease;
    box-shadow: 0px 0px 10px 0px;
    right: inherit;
}

@keyframes fadeEffect {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1
    }

    100% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0;
    }
}
*/

/* library section end */

/* effets transition */

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
    background-color: #000;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
    background-color: #000000;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* styles.css */

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.logo img {
    width: 300px;
    height: 50%;
}

.logo_mobile {
    width: 350px;
    padding-top: 20px;
    text-align: center;
}


/* Page loading */
/* #loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

#loading-video {
    max-width: 80%;
    max-height: 80%;
} */

/* .video-container {
    position: relative;
    width: 80vw; 
    max-width: 800px; 
    height: 45vw; 
    max-height: 450px; 
    background: #000;
    overflow: hidden;
    margin-right: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */